@import "styles/config";

.footer {
    background-color: $bg-color-2;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    min-height: 4rem;

    .wrapper {
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;

        .logo-wrapper,
        .copyright {
            display: flex;
            align-items: center;
        }

        .logo-wrapper {
            .logo {
                border-right: 2px solid $grey;
                padding-right: 1rem;
                color: $white;

                &:hover {
                    color: $white;
                }
            }
        }

        .copyright {
            color: #868e96;
            font-size: 0.75rem;
            white-space: pre;
        }

        .footer-nav {
            display: flex;
            flex-grow: 1;

            li {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    padding: 0 1rem;
                    color: white;

                    &:hover {
                        color: $brand;
                    }
                }
            }
        }
    }
}
