@import "styles/config";

.footer {
    background-color: $bg-color-2;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem 0.5rem;
    font-size: 0.75rem;

    .wrapper {
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;

        .copyright {
            color: #868e96;
        }

        .footer-nav {
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    padding: 0 1rem;
                    color: white;

                    &:hover {
                        color: $brand;
                    }
                }
            }
        }
    }
}
