$white: #f6f8ff;
$black: rgba(0, 0, 0, 0.84);

$light-shade: #f9fafa;
$light-accent: #91918b;
$brand: #f6ae2d;
$dark-accent: #a34d36;
$dark-shades: #262528;

$grey: #999;
$light-grey: lighten($grey, 20);

$bg-color: $light-shade;
$bg-color-2: $dark-shades;
