@import "foundation";

.hero {
    width: 100%;
    background-color: #282c34;
    color: white;
    display: flex;
    justify-content: center;
    min-height: 300px;

    .wrapper {
        max-width: 1200px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .aa {
            .logo {
                text-align: center;
            }

            .subtitle {
                font-size: 1.5rem;
            }
        }

        @include breakpoint(large up) {
            &::after {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-image: url(./ship.svg);
                background-repeat: no-repeat;
                background-size: 30% auto;
                opacity: 0.04;
                background-position: 100% 20px;
            }
        }
    }
}
