@import "styles/config";
@import "foundation";

.hero {
    width: 100%;
    background-image: radial-gradient(circle, $light-grey, $light-grey 1px, $light-shade 1px, $light-shade);
    background-size: 28px 28px;
    color: $black;
    display: flex;
    justify-content: center;
    min-height: 420px;

    .wrapper {
        max-width: 1200px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .content {
            text-align: center;
            padding: 0 0.5rem;

            .title {
                color: $brand;
            }

            .subtitle {
                @each $breakpoint, $headings in $header-styles {
                    @include breakpoint($breakpoint) {
                        $heading-styles: map-get($headings, "h4");
                        $font-size: map-get($heading-styles, "font-size");

                        font-size: #{$font-size}px;
                    }
                }
            }
        }

        @include breakpoint(large up) {
            &::after {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-image: url(./ship.svg);
                background-repeat: no-repeat;
                background-size: 30% auto;
                opacity: 0.08;
                background-position: 100% 140px;
            }
        }
    }
    @include breakpoint(medium down) {
        min-height: 250px;
    }
}
