@import "styles/config";
@import "foundation";

.hero {
    width: 100%;
    color: $black;
    display: flex;
    justify-content: center;
    min-height: 420px;
    background-color: $white;

    .wrapper {
        max-width: 1200px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .content {
            text-align: center;
            padding: 0 0.5rem;
            z-index: 2;

            .title {
                color: $brand;
            }

            .subtitle {
                font-family: $logo-font-family;
                @each $breakpoint, $headings in $header-styles {
                    @include breakpoint($breakpoint) {
                        $heading-styles: map-get($headings, "h5");
                        $font-size: map-get($heading-styles, "font-size");

                        font-size: #{$font-size}px;
                    }
                }
            }

            .buttons {
                display: flex;
                justify-content: center;

                .button {
                    text-transform: uppercase;
                    font-size: 1rem;

                    &:not(:last-child) {
                        margin-right: 1.5rem;
                    }
                }
            }
        }

        @include breakpoint(large up) {
            &::after {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-image: url(./ship.svg);
                background-repeat: no-repeat;
                background-size: 30% auto;
                opacity: 0.4;
                background-position: 100% 140px;
                z-index: 1;
            }
        }
    }
    @include breakpoint(medium down) {
        min-height: 250px;
    }
}
